@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

aside {
    background-color: purple;
    width: 150px;
    height: 100vh;
}

p {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}